*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
}

.carbon-color {
    color: #858585
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAEBF2;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.playerHalf {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.playerHalf button {
    width: 200px;
    height: 125px;
    margin: 10px;
    border-radius: 12px;
    border: 5px solid #858585;
}

.playerHalf img {
    height: 120px;
}

.playerHalf button:hover {
    cursor: pointer;
    box-shadow: 0 0 1em #CAEBF2;
    border-color: #CAEBF2;
    transform: scale(1.1);
}

.computerHalf {
    position: relative;
    display: flex;
    justify-content: center;
}

.computerHalf img {
    margin-left: 50px;
}

.screen {
    position: absolute;
    margin-top: 34px;
    height: 292px;
    width: 450px;
}

.counter {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
    justify-content: space-between;
}

.counter p {
    color: rgb(211, 39, 62);
    font-size: 24px;
}
